.nav_phone, #toggle {
    display: none;
}

@media all and (max-width: 991px){
    nav{
        height: 60px;
    }

    nav .nav_listing{
        display: none;
        flex-direction: column;
        height: 100px;
    }

    nav .nav_listing a{
        width: 50%;
        background: radial-gradient(circle,rgba(239, 239, 239, 1) 0%, rgba(223, 223, 223, 1) 75%, rgba(208, 208, 208, 1) 100%);
    }

    .nav_phone {
        margin: 0 auto; /* marge*/
        width: 30px; /* largeur */

        font-size: 2em; /* taille police */
        font-weight: 300; /* épaisseur */

        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    #toggle:checked + .nav_listing{
        display: flex;
    }

    section {
        width: 90%;
        background-color:rgba(200, 200, 200, 0.25);
        border-radius: 10px;
        padding: 3%;
        margin: 5%;
    }

}
